@model IEnumerable<AssetManagementWEBjm.Models.AssetLocationViewModel>

@{
    ViewBag.Title = "AssetLocationList";
}

<div class="jumbotron">
    <h2>AssetLocationList</h2>

    <p>
        @Html.ActionLink("Create New", "CreateAssetLocation")
    </p>
    <table class="table">
        <tr>
            <a href="~/Views/Asset/AssetLocationList.cshtml">~/Views/Asset/AssetLocationList.cshtml</a>
            <th>
                @Html.DisplayNameFor(model => model.LocationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationAdress)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationCode)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationAdress)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>
</div>